@import 'libs/bootstrap-reboot.min.css';
@import 'blocks/buttons.css';
@import 'blocks/header.css';
@import 'blocks/media.css';
@import 'blocks/start.css';
@import 'blocks/text-block.css';
@import 'blocks/stay-safe.css';
@import 'blocks/experts.css';
@import 'blocks/healthcare.css';

html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
} 

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

