.text-block_center {
    text-align: center;
}

.text-block__descr_mw {
    margin: 0 auto;
    max-width: 620px;
}

.healthcare {
    padding: 80px 0 30px 0;
}

.healthcare__container {
}

.healthcare__text-block  {
    margin: 0 0 45px 0;
}

.healthcare__items {
    display: flex;
    margin: 0 -36px;
}

.healthcare__column {
    position: relative;
    padding: 0 36px;
    flex: 0 1 33%;
}

.healthcare__item {
    
}

.item-healthcare {
    position: relative;
    display: flex;
    z-index: 10;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    align-items: center;
    text-align: center;
    padding: 35px 17px;
}

.healthcare__icon {
    margin-bottom: 58px;
}

.healthcare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    color: #000;
    margin: 0 0 4px 0;
}

.healthcare__text {
    line-height: 138.5%;
}


.healthcare__column_1:before,
.healthcare__column_1:after {
    content: "";
    position: absolute;
    background-color: #EC5863;
    border-radius: 16px;
}


.healthcare__column_1:before {
    width: 65px;
    height: 65px;
    bottom: -35px;
    left: 15px;
    transform: rotate(-30deg);
}

.healthcare__column_1:after {
    width: 97px;
    height: 97px;
    top: 35px;
    right: -10px;
    border-radius: 30px;
    transform: rotate(30deg);
}

.healthcare__column_2:after {
    content: "";
    position: absolute;
    background-color: #EC5863;
    width: 127px;
    height: 127px;
    bottom: -35px;
    right: -35px;
    border-radius: 30px;
    transform: rotate(55deg);
}

.healthcare__column_3:after {
    content: "";
    position: absolute;
    background-color: #EC5863;
    width: 65px;
    height: 65px;
    top: -25px;
    right: 10px;
    border-radius: 16px;
    transform: rotate(40deg);
}